<div class="container">

	<p-dialog header=" Add Update " [(visible)]="NewLeaveDialogbool" [style]="{width: '50vw'}" [baseZIndex]="10000">
		<p-toast position="top-left" key="tl"></p-toast>
		<p-toast position="top-center" key="tc"></p-toast>
		<p-toast position="bottom-center" key="bc"></p-toast>
		<br>
		<div class="row container-fluid">
			<!-- <h2>{{project.projectName}}</h2> -->
			<div>
				<!-- <h4>Upload Documents</h4> -->
				<div class="row container">
					<div class="col-12">
						<div>
							<div class="p-inputgroup">
								<div class="form-group col-12" [style]="{minWidth: '420px'}" style="padding: 0 0 0 0;">
									<label for="inputState">Select Document Category</label>
									<select id="inputState" [(ngModel)]="docproject.documentsCategoryId"
										class="form-control">
										<option *ngFor="let i of lstDocumentCategory" value="{{i.id}}">
											{{i.categoryName}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="p-col-12">
							<div class="row">
								<div class="col">
									<input type="file" #file placeholder="Choose file" multiple
										(change)="uploadFile(file.files)" style="display:none;">
									<button type="button" class="btn btn-success" (click)="file.click()">Upload
										File</button>
								</div>
								<div class="col">
									<button class="btn btn-info" style="float: right;" (click)="Savedoctolist()">Save To
										List</button>
								</div>
							</div>
						</div>
					</div>

					<div style="margin-left: 10px;width: 100px;">
						<br>
						<table class="table container-fluid col-12" style="width: 100px">
							<thead>
								<tr>
									<th>Category Name</th>
									<th>File Name</th>
									<!-- <th>Delete</th> -->
								</tr>
							</thead>
							<tbody>

								<tr *ngFor="let i of lstoddocproj">
									<td>{{i.documentsCategoryName}}</td>
									<td>
										<div class="row">
											<div class="col">
												{{i.documentFile}}
											</div>

										</div>
									</td>
									<!-- <td>
										<div class="col"><button class="btn btn-danger"
												(click)="deleteDocFromList(i)">Delete</button></div>
									</td> -->

								</tr>

								<tr *ngIf="lstoddocproj.length == 0">
									<td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
								</tr>

							</tbody>

						</table>
					</div>
				</div>
				<div style="margin-top: 10px;">
					<label>DeadLine</label>
					<p-calendar inputId="basic" name='deadline' [(ngModel)]='projectUpdate.deadline'></p-calendar>
				</div>
				<div class="input-group container-fluid uploadFile">
					<div class="input-group-prepend" style="background-color: rgb(215, 226, 226);">
						<span class="input-group-text"
							style="color: rgb(12, 12, 12);margin-right: 10px;">Description</span>
					</div>
					<textarea class="form-control" [(ngModel)]="ProjectUpdateDescription.description"
						aria-label="With textarea"></textarea>
				</div>
			</div>
		</div>
		<br>
		<ng-template pTemplate="footer">
			<p-button type="submit" (click)="SaveProjectUpdate()" icon="pi pi-check" label=""
				styleClass="p-button-text">
				<span>Save</span>
			</p-button>
			<p-button icon="pi pi-times" (click)="NewLeaveDialogbool=false" label="" class="p-button-secondary">NO
			</p-button>
		</ng-template>

	</p-dialog>
	<p-dialog header=" View Description " [(visible)]="ViewDocsUpadteFlag" [style]="{width: '60vw'}"
		[baseZIndex]="10000">
		<p-toast position="top-left" key="tl"></p-toast>
		<p-toast position="top-center" key="tc"></p-toast>
		<p-toast position="bottom-center" key="bc"></p-toast>
		<div class="row">
			<div class="row container">

				<div style="margin-left: 10px;">
					<br>
					<table class="table">
						<thead>
							<tr>
								<th>User Name</th>
								<th>Date</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>

							<tr *ngFor="let i of LstProjectUpdateDescriptionByUpdateId">
								<td>
									{{i.userName}}
								</td>
								<td>
									{{i.descriptionDate | date: 'MM/dd/yyyy, h:mm a'}}
								</td>
								<td>
									{{i.description}}
								</td>
							</tr>
							<tr *ngIf="LstProjectUpdateDescriptionByUpdateId.length == 0">
								<td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
		<!-- </div> -->
		<br>
		<ng-template pTemplate="footer">
			<p-button icon="pi pi-times" (click)="ViewDocsUpadteFlag=false" label="" class="p-button-secondary">Exit
			</p-button>
		</ng-template>

	</p-dialog>

	<p-dialog header=" View All Documents " [(visible)]="ViewDocsFlag" [style]="{width: '45vw'}" [baseZIndex]="10000">
		<p-toast position="top-left" key="tl"></p-toast>
		<p-toast position="top-center" key="tc"></p-toast>
		<p-toast position="bottom-center" key="bc"></p-toast>
		<!-- 
	<div class="row">
		<span class="col-md-3" for="employee">Employee Name</span>
		<select (change)="onChange($event.target.value)" name="employee" class="form-control col-md-6">Employee
			<option value="" selected disabled hidden><span>Employee Name</span></option>
			<option *ngFor="let item of GetUnregisteredUsers" value="{{item.id}}">{{item.name}}</option>
		</select>
	</div> -->
		<br>
		<div class="row">
			<!-- <h2>{{project.projectName}}</h2> -->
			<div style="margin-top: 30px;">
				<!-- <h4>Upload Documents</h4> -->
				<div class="row container">

					<div style="margin-left: 10px;">
						<br>
						<table class="table">
							<thead>
								<tr>
									<th>File Name</th>
									<th>Category Name</th>
									<th><i>View</i></th>
									<!-- <th><i>Delete</i></th> -->

								</tr>
							</thead>
							<tbody>

								<tr *ngFor="let i of lstProjDocuments">
									<td>
										{{i.documentFile}}
									</td>
									<td>
										{{i.documentsCategoryName}}
									</td>
									<td>
										<div class="col"><button class="btn btn-primary"
												(click)="viewSingleDoc(i)">View</button></div>
									</td>
									<!-- <td>
										<div class="col"><button class="btn btn-danger"
												(click)="deleteDocDB(i)">Delete</button></div>
									</td> -->

								</tr>

								<tr *ngIf="lstProjDocuments.length == 0">
									<td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
								</tr>

							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->
		<br>
		<ng-template pTemplate="footer">
			<p-button type="submit" (click)="SaveProjectUpdate()" icon="pi pi-check" label=""
				styleClass="p-button-text">
				<span>Save</span>
			</p-button>
			<p-button icon="pi pi-times" (click)="ViewDocsFlag=false" label="" class="p-button-secondary">NO
			</p-button>
		</ng-template>

	</p-dialog>

	<p-dialog header=" View Latest Documents " [(visible)]="ViewLatestDocsFlag" [style]="{width: '45vw'}"
		[baseZIndex]="10000">
		<p-toast position="top-left" key="tl"></p-toast>
		<p-toast position="top-center" key="tc"></p-toast>
		<p-toast position="bottom-center" key="bc"></p-toast>
		<br>
		<div class="row">
			<div style="margin-top: 30px;">
				<div class="row container">
					<div style="margin-left: 10px;">
						<br>
						<table class="table">
							<thead>
								<tr>
									<th>File Name</th>
									<th>Category Name</th>
									<th><i>View</i></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let i of lstOfLatestProjDocuments">
									<td>
										{{i.documentFile}}
									</td>
									<td>
										{{i.documentsCategoryName}}
									</td>
									<td>
										<div class="col"><button class="btn btn-primary"
												(click)="viewSingleDoc(i)">View</button></div>
									</td>
								</tr>

								<tr *ngIf="lstOfLatestProjDocuments.length == 0">
									<td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
								</tr>

							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
		<br>
		<ng-template pTemplate="footer">

			<p-button icon="pi pi-times" (click)="ViewLatestDocsFlag=false" label="" class="p-button-secondary">Exit
			</p-button>
		</ng-template>

	</p-dialog>

	<p-dialog header=" Make Offer ({{project.projectName}})" [(visible)]="MakeOfferFlag" [style]="{width: '40vw'}">
		<p-toast position="top-left" key="tl"></p-toast>
		<p-toast position="top-center" key="tc"></p-toast>
		<p-toast position="bottom-center" key="bc"></p-toast>
		<img width="70px" height="70px" class="center"
			src="https://cdn.imgbin.com/16/4/6/imgbin-post-it-note-paper-clip-page-six-yellow-sticky-note-3uNPmBzME6aZAqRcZHvDqDQvk.jpg"
			alt="">
		<div class="row">
			<div class="row container">
				<!-- <div>
					<label for="inputState">Select OfferStatus</label>
					<div class="col">
						<p-dropdown [options]="LstOfferStatus" [(ngModel)]="offer.offerStatusId"
							[style]="{width: '14vw'}" placeholder="Offer Statues" optionLabel="offerStatusName"
							optionValue="id">
						</p-dropdown>
					</div>

				</div> -->
				<div class="col">
					<label for="inputState">Enter the cost
					</label>

					<p-inputNumber [showButtons]="true" [(ngModel)]="costObj.cost" buttonLayout="horizontal"
						inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
						decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
						incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency"
						currency={{value1}}>
					</p-inputNumber>

				</div>
				<div class="col">
					<label for="inputState">Currency</label>

					<p-selectButton [options]="stateOptions" (onChange)="catchCurrency($event)" #curr
						[(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>

				</div>

			</div>
			<div class="row">
				<div class="col" style="margin-left: 15px;margin-top: 17px;">
					<div>
						<input type="file" #file2 placeholder="Choose file" multiple
							(change)="uploadFileInDataSheet(file2.files)" style="display:none;">
						<button type="button" class="btn btn-success" (click)="file2.click()">Upload
							File</button>
					</div>
					<div>
						<button class="btn btn-info" (click)="SavedocOffertolist()">Save To
							List</button>
					</div>
				</div>

				<div class="col">
					<br>
					<table class="table container">
						<thead>
							<tr>
								<th>File Name</th>
								<!-- <th>Delete</th> -->
							</tr>
						</thead>
						<tbody>

							<tr *ngFor="let i of lstdocOffer">
								<td>
									<div class="row">
										<div class="col">
											{{i.documentFile}}
										</div>

									</div>
								</td>
								<!-- <td>
									<div class="col"><button class="btn btn-danger"
											(click)="deleteDocOfferFromList(i)">Delete</button></div>
								</td> -->

							</tr>

							<tr *ngIf="lstdocOffer.length == 0">
								<td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
							</tr>

						</tbody>

					</table>
				</div>
			</div>
			<!-- <div class="input-group container-fluid uploadFile">
				<div class="input-group-prepend">
					<span class="input-group-text">Description</span>
				</div>
				<textarea class="form-control" aria-label="With textarea"
					[(ngModel)]="offerDescription.description"></textarea>
			</div> -->
			<div class="input-group container-fluid uploadFile">
				<div class="input-group-prepend" style="background-color: rgb(215, 226, 226);">
					<span class="input-group-text" style="color: rgb(12, 12, 12);margin-right: 10px;">Description</span>
				</div>
				<textarea class="form-control" [(ngModel)]="offerDescription.description"
					aria-label="With textarea"></textarea>
			</div>
		</div>
		<ng-template pTemplate="footer">
			<!-- <p-button type="button" icon="pi pi-check" label="" (click)="SaveOffer()" styleClass="p-button-text">
				<span>Next</span>
			</p-button> -->

			<p-button type="submit" (click)="SaveOffer()" icon="pi pi-check" label="" styleClass="p-button-text">
				<span>Save</span>
			</p-button>
			<p-button icon="pi pi-times" (click)="MakeOfferFlag=false" label="" class="p-button-secondary">NO
			</p-button>
		</ng-template>

	</p-dialog>
</div>

<div class="card">
	<p-table #dt2 [value]="LstpProjectUpdates" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
		[rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers container-fluid" [paginator]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[globalFilterFields]="['userName','descriptionDate']">
		<ng-template pTemplate="caption">
			<div class="row">
				<div class="col-4 p-input-icon-left p-ml-auto">
					<i class="pi pi-search" style="margin-left: 20px;margin-top: -16px;"></i>
					<input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
						placeholder="Search keyword" />
				</div>
				<div class="col-2">
					<h6 style="color: rgb(20, 20, 20);margin-top: 20px;">({{project.projectName}})</h6>
				</div>

				<div class="col-6" style="float: right;">
					<button class="btn btn-info" (click)="addNewUpdate()">Add
						New Update
					</button>
					<button class="btn btn-info" style="margin-left: 20px;"
						(click)="ViewLatestDocs(documentObj.projectId)">
						Show Latest Documents
					</button>
					<!-- <span *ngIf="role=='PreSales' || role=='PreSalesManager' || role=='CEO' || role=='Admin'"
						class="pi pi-slack" (click)="ViewAllOfferedOffers()" pTooltip="Show All Assigned Projects"
						tooltipPosition="top" style="cursor: pointer;margin-left: 8px;" aria-hidden="true"></span>
					<span *ngIf="role=='PreSales' || role=='PreSalesManager' || role=='CEO' || role=='Admin'"
						class="pi pi-folder-open" (click)="ViewAssignedProjectForUser()" pTooltip="Assigned Projects For User"
						tooltipPosition="top" style="cursor: pointer;margin-left: 8px;" aria-hidden="true"></span> -->
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th>Sales Name
					<p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
				</th>
				<th>Date
					<p-columnFilter type="date" field="descriptionDate" display="menu"></p-columnFilter>
				</th>
				<th>Show Description</th>
				<th>Show Documents</th>
				<th *ngIf="role == 'PreSalesManager'||role =='PreSales'||role =='Admin' || role=='CEO'">Make Offer</th>
				<th>Offers</th>

			</tr>
			<!-- <tr>
				<th>Name
					<p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
				</th>
				<th>
					<div class="p-d-flex p-jc-between p-ai-center">
						Date
						<p-columnFilter type="date" field="descriptionDate" display="menu"></p-columnFilter>
					</div>
				</th>


			</tr> -->
		</ng-template>
		<ng-template pTemplate="body" let-projectUpdateDesc>

			<tr>

				<td>
					<div class="row">
						<span style="font-weight: bold;" class="col-9">{{projectUpdateDesc.userName}}</span>
						<div class="pi pi-chart-line col-3"
							*ngIf=" (role =='PreSalesManager'||role =='Admin') && projectUpdateDesc==indexDesc"
							(click)="AssignProjectUpdateFlag(projectUpdateDesc)"
							style="cursor: pointer;color: rgb(92, 92, 25);" aria-hidden="true">
						</div>
					</div>
				</td>
				<td>{{projectUpdateDesc.dueDate | date: 'MM/dd/yyyy, h:mm a'}}</td>
				<td *ngIf="projectUpdateDesc.id!=0">
					<button class="btn btn-primary" (click)="ViewDescrption(projectUpdateDesc.id)">
						Description
					</button>
				</td>
				<td *ngIf="projectUpdateDesc.id==0">
					<button class="btn btn-warning" disabled>
						Main Project
					</button>
				</td>
				<td>
					<button class="btn btn-primary" (click)="ViewDocs(projectUpdateDesc)">
						Documents
					</button>
				</td>
				<td *ngIf="role== 'PreSalesManager'||role == 'PreSales' ||role =='Admin' || role=='CEO'">
					<button class="btn btn-primary" (click)="ShowOfferDialog(projectUpdateDesc.id)">
						Make Offer
					</button>
				</td>
				<td>
					<div class="row">
						<button class="btn btn-primary col-8" (click)="showOffers(projectUpdateDesc)">
							Offers
						</button>
						<!-- <span class="pi pi-times col-4" (click)="confirm(offerDesc)"
							style="cursor: pointer;margin-left: 15px;" aria-hidden="true"></span> -->
					</div>

				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="5" *ngIf="LstProjectUpdateDescription.length==0">No customers found.</td>
			</tr>
		</ng-template>
	</p-table>
</div>

<p-dialog header=" View Offers " [(visible)]="ViewOffersFlag" [style]="{width: '70vw'}" [baseZIndex]="10000">
	<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
	<div class="card">
		<p-table #dt2 [value]="lstOfferDescription" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
			[rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers container-fluid" [paginator]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
			[globalFilterFields]="['projectName','OfferCreationDate','OfferStatusName','Cost']">
			<ng-template pTemplate="caption">
				<div class="p-d-flex">
					<span class="p-input-icon-left p-ml-auto">
						<i class="pi pi-search"></i>
						<input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
							placeholder="Search keyword" />
					</span>
				</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th>Pre-Sales</th>
					<th>Offer Name
						<!-- <p-columnFilter type="text" field="projectName" display="menu"></p-columnFilter> -->
					</th>
					<th>
						<div class="p-d-flex p-jc-between p-ai-center">
							Date
							<!-- <p-columnFilter type="date" field="offerCreationDate" display="menu"></p-columnFilter> -->
						</div>
					</th>
					<th>Cost
						<!-- <p-columnFilter type="text" field="cost" display="menu"></p-columnFilter> -->
					</th>
					<th>Status
						<!-- <p-columnFilter type="text" field="offerStatusName" display="menu"></p-columnFilter> -->
					</th>
					<th>Operations
						<!-- <p-columnFilter type="text" field="Delete" display="menu"></p-columnFilter> -->
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-offerDesc>
				<tr>
					<td style="font-weight: bold;color: orange;">{{offerDesc.userName}}</td>
					<td>
						<span style="font-weight: bold;">{{offerDesc.projectName}}</span>
					</td>
					<td>{{offerDesc.offerCreationDate | date: 'MM/dd/yyyy, h:mm a'}}</td>

					<td>
						{{offerDesc.cost}}
					</td>

					<td style="width: 10px;" *ngIf="role=='PreSalesManager' || role=='PreSales' || role=='CEO'">
						<p-dropdown [options]="LstOfferStatus" [style]="{'maxWidth':'150px'}"
							(onChange)="changeStatus(offerDesc)" [readonly]="false"
							[(ngModel)]="offerDesc.offerStatusId" optionLabel="offerStatusName" optionValue="id">
						</p-dropdown>
					</td>

					<td style="width: 10px;" *ngIf="role=='Sales' || role=='SalesManager' || role=='CEO'">
						{{offerDesc.offerStatusName}}
					</td>
					<td>
						<span class="pi pi-campas" (click)="ViewOfferDescrption(offerDesc.id)"
							style="cursor: pointer;margin-left: 15px;" aria-hidden="true">Description</span>
						<span class="pi pi-file-o" (click)="viewOfferDocuments(offerDesc)"
							style="cursor: pointer;margin-left: 15px;" aria-hidden="true"></span>
					</td>
				</tr>
			</ng-template>

			<ng-template pTemplate="emptymessage">
				<tr>
					<td colspan="5">No offers found.</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</p-dialog>


<p-dialog header=" View All Offer Documents " [(visible)]="ViewOffersDocumentFlag" [style]="{width: '45vw'}"
	[baseZIndex]="10000">
	<p-toast position="top-left" key="tl"></p-toast>
	<p-toast position="top-center" key="tc"></p-toast>
	<p-toast position="bottom-center" key="bc"></p-toast>
	<br>
	<div class="row">
		<div style="margin-top: 30px;">
			<!-- <h4>Upload Documents</h4> -->
			<div class="row container">

				<div style="margin-left: 10px;">
					<br>
					<table class="table">
						<thead>
							<tr>
								<th>File Name</th>
								<th><i>View</i></th>
								<!-- <th><i>Delete</i></th> -->

							</tr>
						</thead>
						<tbody>

							<tr *ngFor="let doc of lstOfferDocuments">
								<td>
									{{doc.documentFile}}
								</td>
								<td>
									<div class="col"><button class="btn btn-primary"
											(click)="viewSingleOfferDoc(doc)">View</button></div>
								</td>
								<!-- <td>
									<div class="col"><button class="btn btn-danger"
											(click)="deleteOfferDoc(doc)">Delete</button></div>
								</td> -->

							</tr>

							<tr *ngIf="lstOfferDocuments.length == 0">
								<td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
							</tr>

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	<br>
	<ng-template pTemplate="footer">
		<p-button type="submit" (click)="SaveProjectUpdate()" icon="pi pi-check" label="" styleClass="p-button-text">
			<span>Save</span>
		</p-button>
		<p-button icon="pi pi-times" (click)="ViewDocsFlag=false" label="" class="p-button-secondary">NO
		</p-button>
	</ng-template>

</p-dialog>

<p-dialog header=" Assign Project Update " [(visible)]="AssignOffersFlag" [style]="{width: '50vw'}"
	[baseZIndex]="10000">
	<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
	<!-- <div class="card">
		<p-multiSelect [options]="lstProjComponent" (onChange)="colChanges()"
		[ngModelOptions]="{standalone: true}" [(ngModel)]="selectedColumns"
		optionLabel="projectComponentName" selectedItemsLabel="{0} columns selected"
		[style]="{minWidth: '500px'}" placeholder="Choose Components"></p-multiSelect>
	</div> -->
	<div class="row">
		<div class="col-6">
			<label for="inputState">Department</label>
			<select id="inputState" [(ngModel)]="selecteProfessiondVal" (change)="PickProfessionId()"
				class="form-control">
				<option *ngFor="let i of lstProfessions" value="{{i.id}}">{{i.name}}</option>
			</select>
		</div>

		<div class="col-6">
			<label for="inputState">Employees</label>
			<select id="inputState" [(ngModel)]="AssignProject.employeeId" class="form-control">
				<option *ngFor="let i of lstEmployees" value="{{i.id}}">{{i.name}}</option>
			</select>
		</div>
	</div>
	<div class="input-group container-fluid uploadFile">
		<!-- <div class="input-group-prepend">
			<span class="input-group-text">Description</span>
		</div> -->
		<label for="">Description</label>
		<textarea class="form-control" aria-label="With textarea" [(ngModel)]="AssignProject.description"></textarea>
	</div>
	<ng-template pTemplate="footer">
		<p-button type="submit" (click)="AssignProjectUpdate()" icon="pi pi-check" label="" styleClass="p-button-text">
			<span>Save</span>
		</p-button>
		<p-button icon="pi pi-times" (click)="AssignOffersFlag=false" label="" class="p-button-secondary">NO
		</p-button>
	</ng-template>

</p-dialog>


<p-dialog header=" View Offer Description " [(visible)]="ViewOfferDescFlag" [style]="{width: '60vw'}"
	[baseZIndex]="10000">
	<p-toast position="top-left" key="tl"></p-toast>
	<p-toast position="top-center" key="tc"></p-toast>
	<p-toast position="bottom-center" key="bc"></p-toast>
	<div class="row">
		<div class="row container">

			<div style="margin-left: 10px;">
				<br>
				<table class="table">
					<thead>
						<tr>
							<th>User Name</th>
							<th>Date</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td>
								{{offerDescription.userName}}
							</td>
							<td>
								{{offerDescription.descriptionDate | date: 'MM/dd/yyyy, h:mm a'}}
							</td>
							<td>
								{{offerDescription.description}}
							</td>
						</tr>
						<tr *ngIf="lstOfferDescription.length == 0">
							<td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
	<!-- </div> -->
	<br>
	<ng-template pTemplate="footer">
		<p-button icon="pi pi-times" (click)="ViewOfferDescFlag=false" label="" class="p-button-secondary">Exit
		</p-button>
	</ng-template>

</p-dialog>

<!-- <p-dialog header=" View All Assigned Projects" [(visible)]="ViewAssignedProjectFlag" [style]="{width: '60vw'}"
	[baseZIndex]="10000">
	<p-toast position="top-left" key="tl"></p-toast>
	<p-toast position="top-center" key="tc"></p-toast>
	<p-toast position="bottom-center" key="bc"></p-toast>
	<div class="card">
		<p-table #dt2 [value]="lstAssignedProjectsForEmployee" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
			[rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers container-fluid" [paginator]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
			[globalFilterFields]="['userName','descriptionDate']">
			<ng-template pTemplate="caption">
				<div class="row">
					<div class="col-4 p-input-icon-left p-ml-auto">
						<i class="pi pi-search" style="margin-left: 20px;"></i>
						<input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
							placeholder="Search keyword" />
					</div>
				</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th>PreSales Name
						<p-columnFilter type="text" field="employeeName" display="menu"></p-columnFilter>
					</th>
					<th>projectName
						<p-columnFilter type="text" field="projectName" display="menu"></p-columnFilter>
					</th>
					<th>Assigned Date
						<p-columnFilter type="date" field="assignedProjectDate" display="menu"></p-columnFilter>
					</th>
					<th>Show Description</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-assignedProject>

				<tr>

					<td>
						<div class="row">
							<span style="font-weight: bold;" class="col-9">{{assignedProject.employeeName}}</span>
						</div>
					</td>
					<td>{{assignedProject.projectName}}</td>
					<td>{{assignedProject.assignedProjectDate | date: 'MM/dd/yyyy, h:mm a'}}</td>
					<td *ngIf="assignedProject.id!=0">
						<button class="btn btn-primary" (click)="viewAssignProjectDesc(assignedProject.id)">
							Description
						</button>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td colspan="5" *ngIf="lstAssignedProjectsForEmployee.length==0">No customers found.</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</p-dialog>
<p-dialog header=" View Assigned Projects For User" [(visible)]="ViewAssignedProjectForUserFlag" [style]="{width: '60vw'}"
	[baseZIndex]="10000">
	<p-toast position="top-left" key="tl"></p-toast>
	<p-toast position="top-center" key="tc"></p-toast>
	<p-toast position="bottom-center" key="bc"></p-toast>
	<div class="card">
		<p-table #dt2 [value]="lstAssignedProjectsForEmployee" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
			[rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers container-fluid" [paginator]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
			[globalFilterFields]="['userName','descriptionDate']">
			<ng-template pTemplate="caption">
				<div class="row">
					<div class="col-4 p-input-icon-left p-ml-auto">
						<i class="pi pi-search" style="margin-left: 20px;"></i>
						<input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
							placeholder="Search keyword" />
					</div>
				</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th>PreSales Name
						<p-columnFilter type="text" field="employeeName" display="menu"></p-columnFilter>
					</th>
					<th>projectName
						<p-columnFilter type="text" field="projectName" display="menu"></p-columnFilter>
					</th>
					<th>Assigned Date
						<p-columnFilter type="date" field="assignedProjectDate" display="menu"></p-columnFilter>
					</th>
					<th>Show Description</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-assignedProject>

				<tr>

					<td>
						<div class="row">
							<span style="font-weight: bold;" class="col-9">{{assignedProject.employeeName}}</span>
						</div>
					</td>
					<td>{{assignedProject.projectName}}</td>
					<td>{{assignedProject.assignedProjectDate | date: 'MM/dd/yyyy, h:mm a'}}</td>
					<td *ngIf="assignedProject.id!=0">
						<button class="btn btn-primary" (click)="viewAssignProjectDesc(assignedProject.id)">
							Description
						</button>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td colspan="5" *ngIf="lstAssignedProjectsForEmployee.length==0">No customers found.</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</p-dialog> -->


<!-- <p-dialog header=" View Assigned Description " [(visible)]="ViewAssignedDescFlag" [style]="{width: '60vw'}"
	[baseZIndex]="10000">
	<p-toast position="top-left" key="tl"></p-toast>
	<p-toast position="top-center" key="tc"></p-toast>
	<p-toast position="bottom-center" key="bc"></p-toast>
	<div class="row">
		<div class="row container">

			<div style="margin-left: 10px;">
				<br>
				<table class="table">
					<thead>
						<tr>
							<th>PreSales Name</th>
							<th>Date</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{AssignedProjectsDec.employeeName}}
							</td>
							<td>
								{{AssignedProjectsDec.assignedProjectDate | date: 'MM/dd/yyyy, h:mm a'}}
							</td>
							<td>
								{{AssignedProjectsDec.description}}
							</td>
						</tr>
						<tr *ngIf="AssignedProjectsDec.id == 0">
							<td colspan="4" style="color: rgb(102, 97, 23);">No Description found.</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
	 </div> 
	<br>
	<ng-template pTemplate="footer">
		<p-button icon="pi pi-times" (click)="ViewAssignedDescFlag=false" label="" class="p-button-secondary">Exit
		</p-button>
	</ng-template>

</p-dialog> -->