<p-dialog [(visible)]="showTheFirstStepDialog" [style]="{width: '80vw'}" [resizable]="true" [baseZIndex]="10000">
    <p-toast position="top-left" key="t"></p-toast>
    <p-toast position="top-center" key="t"></p-toast>
    <p-toast position="bottom-center" key="tc"></p-toast>
    <div class="row">
        <h1 class="col-4" style="font-size: 40px;">Create Project</h1><span class="col-8"
            style="color: green;margin-top: 5px;">(NEW)</span>
    </div>

    <!-- Handle Steps Details,Documents,Desc,Confirmation -->
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>


    <!-- Details Step -->
    <form *ngIf="activeIndex==0">
        <div class="form-row" style="margin-top: 20px;">
            <div class="form-group col-md-6">
                <label for="inputStateprojectName">Project Name</label>
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="projectObj.projectName" name="projectName" id="ProjectName" placeholder="Project Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputStateprojectComponentName">Project Components Name</label>
                <br>
                <p-multiSelect [options]="lstProjComponent" (onChange)="colChanges()"
                    name="inputStateprojectComponentName" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedColumns" optionLabel="projectComponentName"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '556px'}"
                    placeholder="Choose Components"></p-multiSelect>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputStatecontactName">End User</label>
                <select id="inputStatecontactName" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="projectObj.endUsersId" class="form-control">
                    <option *ngFor="let i of lstEndUsers" value="{{i.id}}">{{i.companyName}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputStatecontractorName">Project Contractor Name</label>
                <!-- <select id="inputState" [ngModelOptions]="{standalone: true}" [(ngModel)]="projectObj.contractorsId"
                    class="form-control">
                    <option *ngFor="let i of lstContractors" value="{{i.id}}">{{i.contractorName}}
                    </option>
                </select> -->

                <p-dropdown [options]="lstContractors" [style]="{minWidth: '556px'}" name="inputStatecontractorName"
                    [(ngModel)]="contractorObj" (onChange)="pickUpContractorId()" optionLabel="contractorName"
                    [filter]="true" filterBy="contractorName" [showClear]="true" placeholder="Select a Contractor">
                </p-dropdown>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputStateconsultantName">Project Consultant Name</label>
                <p-dropdown [options]="lstConsultatnt" [style]="{minWidth: '556px'}" name="inputStateconsultantName"
                    optionLabel="consultantName" [(ngModel)]="consultantObj" (onChange)="pickUpConsultantId()"
                    [filter]="true" filterBy="consultantName" [showClear]="true" placeholder="Select a Consultant">

                </p-dropdown>
                <div style="margin-top: 10px;">
                    <label>DeadLine</label>
                    <input type="date" name="first" class="form-control" placeholder="deadline"
                        [(ngModel)]="projectObj.deadline" min="{{maxDate | date:'yyyy-MM-dd'}}" required>
                    <!-- <p-calendar inputId="basic" max="{{maxDate | date:'yyyy-MM-dd'}}" name='deadline' [(ngModel)]='projectObj.deadline'></p-calendar>  -->
                </div>


            </div>
            <!-- <div class="form-group col-md-6">
                <label for="inputAddress2">Rank</label>
                <input type="number" min="5" max="100" step=5 [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="projectObj.rank" class="form-control" id="inputAddress2" placeholder="50%, 20%, or 0">
            </div> -->
            <!--    <div class="form-group col-md-6 container">
                <label for="inputState">Project Contractor Name</label>
             <select id="inputState" [ngModelOptions]="{standalone: true}" [(ngModel)]="projectObj.contractorsId"
                class="form-control">
                <option *ngFor="let i of lstContractors" value="{{i.id}}">{{i.contractorName}}
                </option>
            </select>

                <p-dropdown [options]="lstConsultatnt" name="consultantName" [style]="{minWidth: '556px'}"
                    [(ngModel)]="projectObj.consultantId" optionLabel="consultantName" [filter]="true"
                    filterBy="consultantName" [showClear]="true" placeholder="Select a Consultant">

                </p-dropdown>
            </div>
 -->
            <div class="form-group col-md-6">
                <label for="inputStategovernorateName">Governorate Name</label>
                <select id="inputStategovernorateName" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="projectObj.governorateId" class="form-control">
                    <option *ngFor="let i of lstGovn" value="{{i.id}}">{{i.governorateName}}
                    </option>
                </select>
            </div>
        </div>


    </form>

    <div *ngIf="activeIndex == 1" style="margin-top: 90px;">
        <div class="row container">
            <div class="col-6">
                <div>
                    <div class="p-inputgroup">
                        <div class="form-group col-12" style="padding: 0 0 0 0;">
                            <label for="inputStatecategoryName">Select Document Category</label>
                            <select id="inputStatecategoryName" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="docproject.documentsCategoryId" class="form-control">
                                <option *ngFor="let i of lstDocumentCategory" value="{{i.id}}">
                                    {{i.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col">
                            <input type="file" #file placeholder="Choose file" multiple
                                (change)="uploadFile(file.files)" style="display:none;">
                            <button type="button" class="btn btn-success" style="margin-top: 7px;"
                                (click)="file.click()">Upload
                                File</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-info" style="float: right;" (click)="Savedoctolist()">Save To
                                List</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>File Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let i of lstoddocproj">
                            <td>{{i.documentsCategoryName}}</td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        {{i.documentFile}}
                                    </div>
                                    <!-- <div class="col"><button class="btn btn-danger"
                                            (click)="deleteDocFromList(i)">Delete</button></div> -->
                                </div>
                            </td>

                        </tr>

                        <tr *ngIf="lstoddocproj.length == 0">
                            <td colspan="4" style="color: rgb(102, 97, 23);">No Documents found.</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <!-- Description Step -->
    <div *ngIf="activeIndex == 2" style="margin-top: 20px;">
        <!-- <section> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                    cx="65.1" cy="65.1" r="62.1" />
                <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                    stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
            <p class="success">Order placed successfully. Your order will be dispacted soon. meanwhile you can track
                your order in my order section.</p>
        </section> -->
        <!-- <h4>Please Fill a detaild description </h4> -->


        <textarea id="description" [(ngModel)]="ProjectDescriptionObj.description"
            placeholder="Add any extra data if you want" pInputTextarea rows="10" cols="120"></textarea>
        <br>

    </div>

    <!-- Button Package Finish Next Back -->
    <div style="margin-top: 50px;">
        <button type="submit" (click)="PreviousStep()" style="margin: 10px;" class="btn btn-warning"
            *ngIf="activeIndex!=0">BACK</button>
        <button type="submit" (click)="AddProject()" style="float: right;margin: 10px;" class="btn btn-primary"
            *ngIf="activeIndex ==2">FINISH</button>

        <!-- <button type="submit" (click)="AddProject()" style="float: right;margin: 10px;" class="btn btn-primary"
               >FINISH</button> -->

        <button type="submit" (click)="NextStep()" style="margin: 10px;float: right;" class="btn btn-success"
            *ngIf="activeIndex!=2">NEXT</button>
    </div>

</p-dialog>

<div class="card">
    <p-table #dt2 [value]="projectList" *ngIf="role!='Sales'" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers container-fluid" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['userName','projectName','projectCreationDate','rank','projectStatusName']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />

                    <button class="btn btn-primary" style="margin-left: 20px;" (click)="showTheFirstStepDialog=true">Add
                        New
                        Project</button>
                    <!-- <a class="btn btn-secondary" style="background-color: rgb(180, 187, 83);"
                        ><i class="material-icons">&#xE147;</i> <span>Add New
                            Project</span></a> -->
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Sales Name</th>
                <th>Project Name
                    <p-columnFilter type="text" field="projectName" display="menu"></p-columnFilter>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Date
                        <p-columnFilter type="date" field="projectCreationDate" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th
                    *ngIf="role=='Admin' || role=='SalesManager' ||role=='PreSalesManager'||role=='PreSales' || role=='CEO'">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Periority
                        <p-columnFilter field="rank" matchMode="between" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)"
                                    styleClass="p-m-3"></p-slider>
                                <div class="p-d-flex p-ai-center p-jc-between p-px-2">
                                    <span>{{activityValues[0]}}</span>
                                    <span style="float: right;">{{activityValues[1]}}</span>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th>Status
                    <p-columnFilter type="text" field="projectStatusName" display="menu"></p-columnFilter>
                </th>
                <th>Update</th>
                <th *ngIf="role=='Admin' || role=='SalesManager' || role=='CEO'">Accept</th>
                <th>Controls</th>
                <th>Description</th>

                <th *ngIf="role=='Admin' || role=='SalesManager' || role=='CEO'">
                    Accepted <p-columnFilter type="boolean" field="isAccept"></p-columnFilter>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    <!-- <img src="../../../../assets/img/sales.png" style="border-radius: 50%;margin-right: 10px;"
                        [class]="'flag flag-' + customer.endUserContactName" width="40"> -->

                    <span style="font-weight: bold;">{{customer.userName}}</span>

                </td>
                <td>
                    <span style="font-weight: bold;">{{customer.projectName}}</span>
                </td>
                <td>{{customer.projectCreationDate | date: 'MM/dd/yyyy, h:mm a'}}</td>

                <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30">
                    <span class="image-text">{{customer.country.name}}</span> -->
                <!-- <img src="../../../../assets/img/mike.jpg" style="border-radius: 50%;margin-right: 10px;"
                        [class]="'flag flag-' + customer.endUserContactName" width="30"> -->
                <!-- <td>   <span class="image-text">{{customer.endUserContactName}}</span>
                </td> -->
                <!-- <td>
                    {{customer.contractorName}}
                </td> -->
                <td>
                    <!-- <img src="../../../../assets/img/bg5.jpg" width="32" style="vertical-align: middle" /> -->
                    <!-- <span class="image-text">{{customer.rank}}</span> -->
                    <!-- <p-progressBar [value]=customer.rank></p-progressBar> -->
                    <!-- <p-progressBar [value]="customer.rank" [showValue]="true"></p-progressBar> -->

                    <div class="form-group">
                        <!-- <select id="inputStatecontactName" (change)="updateProjectRank()" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedValue"  class="form-control">
                        
                        <option *ngFor="let i of lstFrom1To100" [value]="i" >{{i}}</option>
                    </select> -->

                        <select [disabled]="!(role=='SalesManager')" class="form-control"
                            (change)="updateProjectRank($event,customer)">
                            <option *ngFor="let option of lstFrom1To100; index as i"
                                [selected]="option === customer.rank">
                                {{ option }}
                            </option>
                        </select>
                    </div>

                </td>
                <td *ngIf="customer.projectStatusName =='New'">
                    <div
                        style="background-color: #d8cdff;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span
                            style="font-weight: bold;color: #8c17da;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;padding: .25em .5rem;border-radius: 2px;"
                            [class]="'customer-badge status-' + customer.projectStatusName">{{customer.projectStatusName}}</span>

                    </div>

                </td>
                <td *ngIf="customer.projectStatusName =='InProgress'">
                    <div
                        style="background-color: #8a7ac0;width: 95px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span
                            style="font-weight: bold;color: #1624e9;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;padding: .25em .5rem;border-radius: 2px;"
                            [class]="'customer-badge status-' + customer.projectStatusName">{{customer.projectStatusName}}</span>

                    </div>

                </td>
                <td *ngIf="customer.projectStatusName=='Offered'">
                    <div
                        style="background-color: #ffcdd2;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span [class]="'customer-badge status-' + customer.projectStatusName"
                            style="font-weight: bold; color: #f14b09;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{customer.projectStatusName}}</span>

                    </div>
                </td>
                <td *ngIf="customer.projectStatusName=='Assigned'">
                    <div (mouseenter)="ViewAllOfferedOffers(customer.id)" (mouseleave)="closeViewAllOfferedOffers()"
                        style="background-color: #dbdada;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span [class]="'customer-badge status-' + customer.projectStatusName"
                            style="font-weight: bold; color: #b34216;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{customer.projectStatusName}}</span>
                    </div>
                </td>
                <td *ngIf="customer.projectStatusName=='Hold'">
                    <div
                        style="background-color: #c8e6c9;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span
                            style="font-weight: bold; text-transform: uppercase; color: #256029; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;"
                            [class]="'customer-badge status-' + customer.projectStatusName">{{customer.projectStatusName}}</span>

                    </div>

                </td>
                <td>
                    <i class="pi" style="font-size: small;">

                        <button class="btn btn-success" [routerLink]="['projectUpdate',customer.id]">
                            Update</button>
                    </i>
                </td>
                <td *ngIf="role=='Admin' || role=='SalesManager' || role=='CEO'">
                    <button class="btn btn-info" [disabled]="customer.isAccept"
                        (click)="OpenDeailogAcceptProject(customer.id)">Accept</button>
                </td>
                <td style="text-align: center;">
                    <span class="pi pi-compass" aria-hidden="true" style="cursor: pointer;"
                        (click)="showBasicDialog(customer.id)"></span>
                    <!-- <span pTooltip="Show All Assigned Projects" tooltipPosition="top" class="pi pi-check"
                        aria-hidden="true" style="cursor: pointer;margin-left: 20px;" *ngIf="role=='Admin'"
                        [disabled]="customer.isAccept" (click)="AcceptProject(customer.id)"></span> -->
                    <!-- <span class="pi pi-pencil" aria-hidden="true" style="cursor: pointer;margin-left: 15px;"
                        (click)="EditDialog(customer.id)"></span> -->
                    <!-- <span class="pi pi-times" (click)="confirm(customer.id)" style="cursor: pointer;margin-left: 15px;"
                        aria-hidden="true"></span> -->
                </td>
                <td style="text-align: center;">
                    <!-- <span class="btn btn-success" aria-hidden="true" style="cursor: pointer;"
                        (click)="ViewDescriptionByProjectId(customer.projectId)">Descriptions</span> -->
                    <span class="pi pi-wallet" (click)="ViewDescriptionByProjectId(customer.id)"
                        style="cursor: pointer;" aria-hidden="true"></span>
                </td>
                <td class="p-text-center" *ngIf="role=='Admin' || role=='SalesManager' || role=='CEO'">
                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': customer.isAccept, 'false-icon pi-times-circle': !customer.isAccept}"></i>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>

    <p-table #dt2 [value]="projectDescriptionList" *ngIf="role=='Sales'" dataKey="id" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
        styleClass="p-datatable-customers container-fluid" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['projectName','projectCreationDate','rank','projectStatusName']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />

                    <button class="btn btn-primary"
                        *ngIf="role=='Sales'||role=='SalesManager'||role=='Admin' || role=='CEO'"
                        style="margin-left: 20px;" (click)="showTheFirstStepDialog=true">Add
                        New
                        Project</button>
                    <!-- <a class="btn btn-secondary" style="background-color: rgb(180, 187, 83);"
                    ><i class="material-icons">&#xE147;</i> <span>Add New
                        Project</span></a> -->


                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Sales Name</th>
                <th>Project Name
                    <p-columnFilter type="text" field="projectName" display="menu"></p-columnFilter>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Date
                        <p-columnFilter type="date" field="projectCreationDate" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th
                    *ngIf="role=='Admin' || role=='SalesManager' ||role=='PreSalesManager'||role=='PreSales' || role=='CEO'">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Periority
                        <p-columnFilter field="rank" matchMode="between" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)"
                                    styleClass="p-m-3"></p-slider>
                                <div class="p-d-flex p-ai-center p-jc-between p-px-2">
                                    <span>{{activityValues[0]}}</span>
                                    <span style="float: right;">{{activityValues[1]}}</span>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th>Status
                    <p-columnFilter type="text" field="projectStatusName" display="menu"></p-columnFilter>
                </th>
                <th>Update</th>
                <th>Description</th>
                <th>Controls</th>



            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    <!-- <img src="../../../../assets/img/sales.png" style="border-radius: 50%;margin-right: 10px;"
                        [class]="'flag flag-' + customer.endUserContactName" width="40"> -->

                    <span style="font-weight: bold;">{{customer.userName}}</span>

                </td>
                <td>
                    <span style="font-weight: bold;">{{customer.projectName}}</span>
                </td>
                <td>{{customer.projectCreationDate | date: 'MM/dd/yyyy, h:mm a'}}</td>

                <td
                    *ngIf="role=='Admin' || role=='SalesManager' ||role=='PreSalesManager'||role=='PreSales' || role=='CEO'">
                    <p-progressBar [value]="customer.rank" [showValue]="true"></p-progressBar>

                </td>
                <td *ngIf="customer.projectStatusName =='New'">
                    <div
                        style="background-color: #d8cdff;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span
                            style="font-weight: bold;color: #8c17da;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;padding: .25em .5rem;border-radius: 2px;"
                            [class]="'customer-badge status-' + customer.projectStatusName">{{customer.projectStatusName}}</span>

                    </div>

                </td>
                <td *ngIf="customer.projectStatusName =='InProgress'">
                    <div
                        style="background-color: #8a7ac0;width: 95px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span
                            style="font-weight: bold;color: #1624e9;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;padding: .25em .5rem;border-radius: 2px;"
                            [class]="'customer-badge status-' + customer.projectStatusName">{{customer.projectStatusName}}</span>

                    </div>

                </td>
                <td *ngIf="customer.projectStatusName=='Offered'">
                    <div
                        style="background-color: #ffcdd2;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span [class]="'customer-badge status-' + customer.projectStatusName"
                            style="font-weight: bold; color: #f14b09;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{customer.projectStatusName}}</span>

                    </div>
                </td>
                <td *ngIf="customer.projectStatusName=='Assigned'">
                    <div
                        style="background-color: #dbdada;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span [class]="'customer-badge status-' + customer.projectStatusName"
                            style="font-weight: bold; color: #b34216;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{customer.projectStatusName}}</span>

                    </div>
                </td>
                <td *ngIf="customer.projectStatusName=='Hold'">
                    <div
                        style="background-color: #c8e6c9;width: 90px;padding-bottom: 5px;text-align: center;border-radius: 5px;">
                        <span
                            style="font-weight: bold; text-transform: uppercase; color: #256029; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;"
                            [class]="'customer-badge status-' + customer.projectStatusName">{{customer.projectStatusName}}</span>

                    </div>

                </td>
                <td>
                    <i class="pi" style="font-size: small;">

                        <button class="btn btn-success" [routerLink]="['projectUpdate',customer.projectId]">
                            Update</button>
                    </i>
                </td>
                <td>
                    <span class="pi pi-wallet" (click)="ViewDescriptionByProjectId(customer.projectId)"
                        style="cursor: pointer;margin-left: 20px;" aria-hidden="true"></span>

                </td>
                <td>
                    <span class="pi pi-compass" aria-hidden="true" style="cursor: pointer;"
                        (click)="showBasicDialog(customer.projectId)"></span>

                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>

</div>

<span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
<span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the
    icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to
    worry about the style.</span>


<p-dialog [(visible)]="displayBasic" [style]="{width: '60vw'}" [baseZIndex]="10000">
    <h1 style="margin-bottom: 20px; font-size: 2.2em;color: #2674a8;">Project Details</h1>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Project Name : </span></th>
        <td>{{projectObj.projectName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Project Status Name : </span></th>
        <td>{{projectObj.projectStatusName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Project Creation Date : </span></th>
        <td>{{projectObj.projectCreationDate| date :'MM/dd/yyyy, h:mm a'}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Project DeadLine : </span></th>
        <td>{{projectObj.deadline| date :'MM/dd/yyyy, h:mm a'}}</td>
        <button class="btn btn-primary">Edit</button>
    </tr>
    <tr class=" form-control" *ngIf="projectObj.acceptedDate!=null">
        <th><span style="margin-right: 10px;">Project Accepted Date : </span></th>
        <td>{{projectObj.acceptedDate| date :'MM/dd/yyyy, h:mm a'}}</td>
    </tr>
    <tr class=" form-control" *ngIf="projectObj.acceptedDate==null">
        <th><span style="margin-right: 10px;">Project Accepted Date : </span></th>
        <td>Not Accepted Yet</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Company Name : </span></th>
        <td><a style="cursor: pointer; color: #2674a8;font-weight: bold;"
                (click)="showEndUser(projectObj.endUsersId)">{{projectObj.companyName}}</a> </td>
        <!-- <th><span style="margin-left: 20px;margin-right: 10px;">End User Name : </span></th>
        <td>{{projectObj.endUserContactName}}</td> -->
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Contractor Name : </span></th>
        <td><a style="cursor: pointer; color: #2674a8;font-weight: bold;"
                (click)="showContractor(projectObj.contractorsId)">{{projectObj.contractorName}}</a> </td>
        <!-- <th><span style="margin-left: 20px;margin-right: 10px;">ContactName : </span></th>
        <td>{{projectObj.contractorContactName}}</td> -->
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Consultant Name : </span></th>
        <td><a style="cursor: pointer; color: #2674a8;font-weight: bold;"
                (click)="showConsultant(projectObj.consultantId)">{{projectObj.consultantName}}</a> </td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">Governorate Name : </span></th>
        <td>{{projectObj.governorateName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 10px;">project Components : </span></th>
        <td>
            <table>
                <tbody>
                    <tr *ngFor="let i of projectObj.lstprojectSystems">
                        <td>
                            <div style="padding-bottom: 10px;">{{i.projectComponentName}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</p-dialog>

<p-dialog [(visible)]="displayContractor" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <h1 style="margin-bottom: 20px; font-size: 1.2em;color: #2674a8;">Contractor Details</h1>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">contractor Name : </span></th>
        <td>{{contractorObj.contractorName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Contact Name : </span></th>
        <td>{{contractorObj.contactName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Title Name : </span></th>
        <td>{{contractorObj.titleName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Email : </span></th>
        <td>{{contractorObj.email}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Phone : </span></th>
        <td>{{contractorObj.phone}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Relevant Phone : </span></th>
        <td>{{contractorObj.relevantPhone}}</td>
    </tr>
</p-dialog>
<p-dialog [(visible)]="displayEndUsers" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <h1 style="margin-bottom: 20px; font-size: 1.2em;color: #2674a8;">End User Details</h1>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Company Name : </span></th>
        <td>{{EndUsersObj.companyName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Contact Name : </span></th>
        <td>{{EndUsersObj.contactName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Title Name : </span></th>
        <td>{{EndUsersObj.titleName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Email : </span></th>
        <td>{{EndUsersObj.email}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Phone : </span></th>
        <td>{{EndUsersObj.phone}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Relevant Phone : </span></th>
        <td>{{EndUsersObj.relevantPhone}}</td>
    </tr>
</p-dialog>
<p-dialog [(visible)]="displayConsultant" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <h1 style="margin-bottom: 20px; font-size: 1.2em;color: #2674a8;">Consultant Details</h1>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Consultant Name : </span></th>
        <td>{{ConsultantObj.consultantName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Contact Name : </span></th>
        <td>{{ConsultantObj.contactName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Title Name : </span></th>
        <td>{{ConsultantObj.titleName}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Email : </span></th>
        <td>{{ConsultantObj.email}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Phone : </span></th>
        <td>{{ConsultantObj.phone}}</td>
    </tr>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Relevant Phone : </span></th>
        <td>{{ConsultantObj.relevantPhone}}</td>
    </tr>
</p-dialog>


<p-dialog [(visible)]="acceptdescription" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <form>
        <textarea name="first" [ngModelOptions]="{standalone: true}" id="descriptionaccept"
            [(ngModel)]="ProjectDescriptionObj.description" placeholder="Add any extra data if you want" pInputTextarea
            rows="7" cols="75"></textarea>

        <button type="submit" (click)="AcceptProject()" style="float: right;margin: 10px;"
            class="btn btn-primary">Save</button>
    </form>

</p-dialog>


<p-dialog header=" View Project Description " [(visible)]="projectDescritionFlag" [style]="{width: '60vw'}"
    [baseZIndex]="10000">
    <p-toast position="top-left" key="tl"></p-toast>
    <p-toast position="top-center" key="tc"></p-toast>
    <p-toast position="bottom-center" key="bc"></p-toast>
    <div class="row">
        <div class="row container">

            <div style="margin-left: 10px;">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let i of LstprojectDescription">
                            <td>
                                {{i.userName}}
                            </td>
                            <td>
                                {{i.descriptionDate | date: 'MM/dd/yyyy, h:mm a'}}
                            </td>
                            <td>
                                {{i.description}}
                            </td>
                        </tr>
                        <tr *ngIf="LstprojectDescription.length == 0">
                            <td colspan="4" style="color: rgb(102, 97, 23);">No Description found.</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <br>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="projectDescritionFlag=false" label="" class="p-button-secondary">Exit
        </p-button>
    </ng-template>

</p-dialog>





<p-dialog [(visible)]="ViewAssignedProjectFlag" [style]="{width: '20vw'}" [closable]="false" [baseZIndex]="10000"
    *ngIf="role=='PreSalesManager' || role=='PreSalesManager'|| role=='CEO'||role=='Admin'">
    <p-toast position="top-left" key="tl"></p-toast>
    <p-toast position="top-center" key="tc"></p-toast>
    <p-toast position="bottom-center" key="bc"></p-toast>
    <div class="card">
        <p-table #dt2 [value]="lstAssignedProjectsForEmployee" dataKey="id"
            styleClass="p-datatable-customers container-fluid e" [globalFilterFields]="['userName','descriptionDate']">
            <!-- <ng-template pTemplate="header">
				<tr>
					<th>PreSales Name</th>
				</tr>
			</ng-template> -->
            <ng-template pTemplate="body" let-assignedProject>

                <tr>
                    <td>
                        <div class="row">
                            <span style="font-weight: bold;" class="col-9">{{assignedProject.employeeName}}</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" *ngIf="lstAssignedProjectsForEmployee.length==0">No Pre-Sales found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>